@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-white dark:bg-dark ;
}


.hamburger-list {
  @apply block w-7 rounded-full h-[3px] bg-black dark:bg-neutral-50 
}

.hamburger-list-active:nth-child(1) {
  @apply rotate-45
}
.hamburger-list-active:nth-child(2) {
  @apply scale-0
}
.hamburger-list-active:nth-child(3) {
  @apply -rotate-45
}

.inverted-border-radius {
  background: white;
}
.inverted-border-radius-dark {
  background: white;
}

.inverted-border-radius::before {
  content: '';
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  height: 50px;
  width: 25px;
  left: 0;
  border-top-left-radius: 12px;
  box-shadow: 0 -25px 0 0 white;
  z-index: 0;
}

.inverted-border-radius::after {
  content: '';
  position: absolute;
  background-color: transparent;
  top: 0;
  height: 50px;
  width: 25px;
  right: -25px;
  border-top-left-radius: 12px;
  box-shadow: 0 -25px 0 0 white;
  z-index: 0;
}

.inverted-border-radius-dark::before {
  content: '';
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  height: 50px;
  width: 25px;
  left: 0;
  border-top-left-radius: 12px;
  box-shadow: 0 -25px 0 0 #121212;
  z-index: 0;
}

.inverted-border-radius-dark::after {
  content: '';
  position: absolute;
  background-color: transparent;
  top: 0;
  height: 50px;
  width: 25px;
  right: -25px;
  border-top-left-radius: 12px;
  box-shadow: 0 -25px 0 0 #121212;
  z-index: 0;
}

::-webkit-scrollbar {
  @apply w-1 h-1;
}

::-webkit-scrollbar-track {
  @apply rounded-[3px] bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[3px] border-2 border-neutral-300 bg-neutral-600 dark:bg-neutral-400;
}